{% extends "base.html" %}

{% block title %} Hackathons {% end %}

{% block navtitle %} Hackathons {% end %}

{% block main %} 
	<div id="main">
		<div id="putHackathonsHere" class="row">
			
		</div>
		<a id="loadMoreButton" class="waves-effect waves-light btn-large center-align">Load More Hackathons</a>
	</div>
{% end %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/hackathons.css" media="screen,projection"/>
{% end %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/hackathons.js"></script>
{% end %}