{% extends "base.html" %}

{% block title %} Organizers {% end %}

{% block navtitle %} Organizers {% end %}

{% block main %} 
	<div id="main">
		<div id="putOrganizersHere" class="row">
			
		</div>
		<a id="loadMoreButton" class="waves-effect waves-light btn-large center-align">Load More Organizers</a>
	</div>
{% end %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/organizers.css" media="screen,projection"/>
{% end %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/organizers.js"></script>
{% end %}