{% extends "base.html" %}

{% block title %} Sponsors {% end %}

{% block navtitle %} Sponsors {% end %}

{% block main %} 
	<div id="main">
		<div id="putSponsorsHere" class="row">
			
		</div>
		<a id="loadMoreButton" class="waves-effect waves-light btn-large center-align">Load More Sponsors</a>
	</div>
{% end %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/sponsors.css" media="screen,projection"/>
{% end %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/sponsors.js"></script>
{% end %}