{% extends "base.html" %}

{% block title %} Stickers {% end %}

{% block navtitle %} Stickers {% end %}

{% block main %} 
	<div id="main">
		<div id="putStickersHere" class="row">
			
		</div>
		<a id="loadMoreButton" class="waves-effect waves-light btn-large center-align">Load More Stickers</a>
	</div>
{% end %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/stickers.css" media="screen,projection"/>
{% end %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/stickers.js"></script>
{% end %}