#main {
  text-align: center;
  margin-bottom: 2rem;
}

.card-panel {
	padding: 24px 24px 24px 24px;
}

.remove-bottom-margin {
	margin-bottom: 0px !important;
}

.users-name {
	font-size: 1.5rem;
}

.row {
        margin-bottom: 0px !important;
}

.materialboxed {
        display: inline !important;
}

#user-image {
	width: 50%;
}

.ljust {
        text-align: left;
        text-justify: true;
}
